{% extends "base.html" %}
{% load mptt_tags %}
{% load static %}

{% block content %}
<div class="container"><h1>Категории товаров</h1>
<ul class="category_list" >
    {% recursetree category_list %}
        <li class="category_item">
            <a href="{% url 'core:category_products' node.slug %}" >{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</div>

<div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            <a href="{% url "cart:cart_detail" %}">
            <dt>Ваша корзина:</dt>
            </a>
                <dd>Кол-во товаров: {{ total_items }}</dd>
                <dd>Сумма: {{ cart.get_total_price }}</dd>
        {% else %}
            Your cart is empty.
        {% endif %}
    {% endwith %}
</div>

{% endblock %}